*{
    padding: 0;
    margin: 0;
    font-family: "poppins",sans-serif;
}
.main_box{
height:100vh;
width: 100%;
background-image: url(photo.jpg);
background-size: cover;
}
.btn_one i{
    transition: all 0.3s linear;
    position: absolute;
    left: 10px;
    color: white;
    font-weight: 700;
    line-height: 60px;
    font-size:30px;
}
.sidebar_menu .btn_two i{
    transition: all 0.3s linear;
    position: absolute;
    left: 275px;
    color: white;
    font-weight: 700;
    line-height: 60px;
    font-size: 20px;
  

}
.sidebar_menu{
    transition: all 0.3s linear;
 position: fixed;
 left: -350px;
 height: 100vh;
 width:300px;
 background-color: rgb(255, 255, 255,0.1);
 box-shadow:0 0 6px rgb(255,255,255,0.5);
}
.sidebar_menu .logo{
    height: 60px;
    position:absolute;
    line-height: 60px;
    box-shadow:0 0 6px rgb(255,255,255,0.5);
    width:100%;
}
.sidebar_menu .logo a{
    position:absolute;
    left:50px;
    color: white;
    text-decoration: none ;
    font-size:20px;
    font-weight:500;
}
.sidebar_menu .menu{
    position:absolute;
    top: 80px;
    width:95%;

}
.sidebar_menu .menu li{
    margin-top:6px;
    padding:10px 20px;
    transition:1s;
}
.sidebar_menu .menu i,a{
    text-decoration: none;
    font-size: 20px;
    color: white;
}
.sidebar_menu .menu i{
    padding-right:10px;
}
.sidebar_menu .social_media{
    position:absolute;
    left: 50px;
    bottom:50px;
}
.sidebar_menu .social_media i{
    color:white;
    opacity: 0.5;
    padding:0 5px;
    transition: 1s;
}
#check{
    display: none;
}
.sidebar_menu .menu li:hover{
    box-shadow:0 0 6px rgb(255,255,255,0.5);;
}
.btn_one i:hover{
    transform: scale(1.1);
}
.btn_two i:hover{
    transform: scale(1.1);
}
.sidebar_menu .social_media i:hover{
    opacity: 1;
    transform: scale(1.2);
}

#check:checked~.sidebar_menu{
    left: 0;
}
#check:checked~.btn_one{
    opacity: 0;
}
.sidebar_menu li:hover{
transform: scale(1.1);
}
